.title {
  text-align: center;
}

.sq {
  width: 370px;
  height: 30px;
  margin: auto;
  padding-bottom: -20px;
  margin-top: 0px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.lines {
  margin-top: -4.5px;
  padding-top: 5px;
  background-color: #f7f7f7; 
  margin-bottom: 20px;
}

.flexing{
  display:flex;
}

.my-column-1 {
  flex-shrink: 0; 
  flex-basis: 46%;
}

.column-1 {
  flex-shrink: 0; 
  flex-basis: 25%; 
}

.box {
  padding: 5px;
  margin: 1rem;
}

.boxing-case {
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid rgb(116, 113, 113);
  width: fit-content;
  margin: 5px;
}

.col {
  flex-basis: 50%; 
}

.case {
  margin-top: -5px;
  margin-bottom: -20px;
  text-align: center;
}

.count-black {
  margin-bottom: -5px;
  text-align: center;
}

.count-red {
  margin-bottom: -5px;
  text-align: center;
  color: #CC0A0A;
}

.count-green {
  margin-bottom: -5px;
  text-align: center;
  color: #6CE135;
}


@media only screen and (max-width: 900px) {
  .flexing {
      /* it place the items in vertical direction */
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}